---
---

<!DOCTYPE html>
<html lang="en">


  <body>

{% include header.html %}
{% include scrollButton.html %}
<body>
    <script>
      const theme = localStorage.getItem('darkSwitch');
      if (theme !== null) {
        document.body.setAttribute('data-theme', 'dark');
      }
    </script>
    {% include navbar.html %}

    {% include loader.html %}

    {% include profile.html %}

    {% include about-us.html %}
    
    {% include description.html %}

    {% include leaderboard.html %}
    
    {% include projects.html %}

    {% include darkModeScript.html %}

    {% include blogs.html %}

    {% include scrollButton.html %} 

    {% include map.html %}    

    {% include google-analytics.html %}    

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  </body>
</html>
