---
title: Project
permalink: /project/
---

<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
 
  <body>
    <div
      style="
        background: rgba(0, 83, 179, 0.897);
        box-shadow: 0 8px 32px 0 rgba(16, 28, 190, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(6px);
        border: 1px solid rgba(255, 255, 255, 0.356);
        height: 100%;
        width: 100%;
      "
      class="banner"
    >
      <div class="container">
        <div class="logo" data-aos="fade-down" data-aos-duration="500">
          <a href="/">
            <!-- replaced the mlh fellowship logo with the new mlh prep logo -->
            <img
              style="
                background: rgba(74, 144, 226, 0.25);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(4px);
                -webkit-backdrop-filter: blur(4px);
                border-radius: 10px;
                border: 1px solid rgba(255, 255, 255, 0.18);
              "
              src="/assets/img/prep_logo.svg"
            />
          </a>
        </div>
        <div class="title" data-aos="fade-down" data-aos-duration="500">My Project</div>
      </div>
    </div>
    
    <div class="container page" data-aos="fade-up" data-aos-duration="500">
      <h2 class="project-headings" id="inspiration">Inspiration</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      {% include project-feature.html %}
      {% include project-tech.html %}

      <h2 class="project-headings" id="what-it-does">What it does</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <h2 class="project-headings" id="how-we-built-it">How we built it</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <h2 class="project-headings" id="challenge-we-ran-into">Challenge we ran into</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      {% include back-button.html %}      
    </div>
    <script src="/assets/js/darkModeSwitch.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
