<div class="about-us-div">
<div class="about-section">
  <h2 data-aos="fade-up" data-aos-duration="500"><span>About Us</span></h2>
    <div class="stats" data-aos="fade-up" data-aos-duration="500">
      <p>
        This pod is a combination of passionate, diverse group of developers coming
        from different parts of the world. Such a group is lead by Grace Omotoso.
        This pod believes that everyone in this group has something to contribute and learn form. 
      </p>
      <p>
        MLH Prep fellowship is an initiative by Major League Hacking to prepare budding developers 
        by giving them a peek into MLH fellowship propgram and also help them improve their coding
        skills, encourage peer prgramming and help them to improve their portfolio.
      </p>
      <p>We are <strong>Persasive Parraots</strong></p>
    </div>
</div>
</div>
