<div class="blogs-div">
<h2 data-aos="fade-up" data-aos-duration="500"><span>Blogs</span></h2>
<div class="card-container">
    {% for item in site.data.blogs %}
    {% if item.blog-name %}
    <a href="/blogs/{{ item.blog-name }}">
    {% else %}
    <a>
    {% endif %}
      <div class="card" data-aos="fade-up" data-aos-duration="500">
        <div class="info">
          <p class="title topic">{{ item.topic }}</p>
           <p class="author">{{ item.author }}</p>
           <p class="dates">{{ item.date }}</p>  
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>