<h2>Blogs</h2>
<div class="card-container">
  <div class="blogs-wrapper">
    {% for item in site.data.blogs %}
    {% if item.blog-name %}
    <!-- <a href="/blogs/{{ item.blog-name }}"> -->
    {% else %}
    <a>
    {% endif %}
    <section class="cards-wrapper-blogs">
      <div class="card-grid-space-blogs">
        <div class="num">{{ item.blog-number }}</div>
        <a class="card-blogs" href="/blogs/{{ item.blog-name }}" style="--bg-img: url(/assets/img/{{ item.img }})">
          <div>
            <h1>{{ item.topic }}</h1>
            <p class="des-blog">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim culpa aperiam repellat cupiditate libero?</p>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>
      </div>
    </section>
    
    {% endfor %}
  </a>
  </div>
  </div>
   
    