<h2>Meet the Pod</h2>

<!-- pod fellow -->
<div class="row col-12 container">
    {% for item in site.data.fellows %}
    <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3" >
        <div class="fellow-card" style="width:100%; height:100% ;">
            <img src="./assets/img/{{ item.img }}" alt="" />
            <div class="data">
                <h2>{{ item.name }}</h2>
                <p>{{ item.position }}</p>
                <i>{{ item.location }}</i>
                <br>
                <a href="https://github.com/{{item.github}}" class="fab fa-lg fa-github" target="_blank"></a>
                <a href="{{item.linkedIn}}" class="fab fa-lg fa-linkedin" target="_blank"></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<!-- Pod Stats -->
<h2>Pod Stats</h2>
<div class="stats">
  <!-- Repo Badge -->
  <a href="https://github.com/MLH-Fellowship/pod-4.1.0-portfolio">
    <img alt="Issues" src="https://github-readme-stats.vercel.app/api/pin/?username=MLH-Fellowship&repo=pod-4.1.0-portfolio" />
  </a>

  <p align="center">
    <!-- Repo Size Badge -->
    <img class="badge-stats" src="https://img.shields.io/github/repo-size/MLH-Fellowship/pod-4.1.0-portfolio?style=for-the-badge"/>
    <!-- Contributors Badge -->
    <img class="badge-stats" alt="GitHub contributors" src="https://img.shields.io/github/contributors/MLH-Fellowship/pod-4.1.0-portfolio?style=for-the-badge">
    <!-- Last Commit Badge -->
    <img class="badge-stats" alt="GitHub last commit" src="https://img.shields.io/github/last-commit/MLH-Fellowship/pod-4.1.0-portfolio?style=for-the-badge">
    <br>
    <!-- Issues Badge -->
    <a href="https://github.com/MLH-Fellowship/pod-4.1.0-portfolio/issues">
      <img alt="Issues" src="https://img.shields.io/github/issues/MLH-Fellowship/pod-4.1.0-portfolio?style=for-the-badge" />
    </a>
    <!-- PR Badge -->
    <a href="https://github.com/MLH-Fellowship/pod-4.1.0-portfolio/pulls">
      <img alt="GitHub pull requests" src="https://img.shields.io/github/issues-pr/MLH-Fellowship/pod-4.1.0-portfolio?style=for-the-badge" />
    </a>
  </p>
</div>
