<h2>Meet the Pod</h2>

<!-- pod leader -->
<div class="d-flex justify-content-around row fellow col-12 container">
    {% for item in site.data.leaders %}
    <div class="col-md-4 mt-3 mb-3" >
        <div class="fellow-card" >
            <img src="./assets/img/{{ item.img }}" alt="" />
            <div class="data">
                <h2>{{ item.name }}</h2>
                <p>{{ item.position }}</p>
                <i>{{ item.location }}</i>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- pod fellow -->
<div class="row fellow col-12 container">
    {% for item in site.data.fellows %}
    <div class="col-md-3 mt-3 mb-3" >
        <div class="fellow-card" style="width:95%; height:95% ;">
            <img src="./assets/img/{{ item.img }}" alt="" />
            <div class="data">
                <h2>{{ item.name }}</h2>
                <p>{{ item.position }}</p>
                <i>{{ item.location }}</i>
            </div>
        </div>
    </div>
    {% endfor %}
</div>