<h2>About Me</h2>
<div class="aboutme">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum. </p>
</div>
<div class="github-stats ">
    <img class="img-fluid" alt="Github statistics"
        src="https://github-readme-stats.vercel.app/api?username=grace-omotoso&show_icons=true&theme=default">
    <img class="img-fluid" alt="Most used languages on github" src="https://github-readme-stats.vercel.app/api/top-langs/?username=grace-omotoso&langs_count=3">
</div>