<!-- Footer -->
<footer>
    <div class="container-fluid">
      <!-- Explore Links -->
      <div class="container footer-contain">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 footer-col">
            <a href="./#aboutme">About</a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 footer-col">
            <a href="./#edu-card">Education</a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 footer-col">
            <a href="./#work">Work Experience</a>
          </div>
         
        </div>
      </div>
      <!-- HR -->
      <hr class="footer-hr" style="color: #fff!important;">
      <!-- Copyright and Social Links -->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-6 legend">
            <p style="width: 500px; color: #fff;">&#169; Copyright 2020 | MLH | All rights reserved. </p>
          </div>
          <div class="col-lg-4 col-md-6 ">
            <ul class="social">
              <li><a href="https://www.youtube.com/c/Majorleaguehacking" target="_blank"><i
                    class="fab fa-youtube footer-icon"></i></a></li>
              <li><a href="https://www.facebook.com/" target="_blank"><i
                    class="fab fa-facebook-f footer-icon"></i></a></li>
              <li><a href="https://github.com/{{ item.github }}" target="_blank"><i class="fab fa-github footer-icon"></i></a>
              </li>
              <li><a href="https://www.instagram.com/" target="_blank"><i
                    class="fab fa-instagram footer-icon"></i></a></li>
              <li><a href="https://medium.com/" target="_blank"><i
                    class="fab fa-medium-m footer-icon"></i></a></li>
              <li><a href="https://twitter.com/" target="_blank"><i
                    class="fab fa-twitter footer-icon"></i></a></li>
              <li><a href="https://www.linkedin.com/company/{{ item.linkedin }}" target="_blank"><i
                    class="fab fa-linkedin-in footer-icon"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
  </footer>
  <!-- Footer End -->