
<h2 id="aboutme">About Me</h2>
<div class="aboutme" >
    <p> {{ item.aboutme }} </p>
</div>
<div class="github-stats">
    <img class="img-fluid" id="gitstats" alt="Github statistics" >
    <img class="img-fluid" id="gitlang" alt="Most used languages on github">
</div>
<script>

   if (localStorage.getItem('darkSwitch') === 'dark'){
        document.getElementById('gitstats').src="https://github-readme-stats.vercel.app/api?username={{ item.github }}&show_icons=true&theme=tokyonight";
        document.getElementById('gitlang').src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ item.github }}&langs_count=3&theme=tokyonight";
   }else{
    document.getElementById('gitstats').src="https://github-readme-stats.vercel.app/api?username={{ item.github }}&show_icons=true&theme=default";
    document.getElementById('gitlang').src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ item.github }}&langs_count=3&theme=default";
   }

   // for toggle button
   document.getElementById('dark-theme-toggle').addEventListener('change', (event) => {
    if (localStorage.getItem('darkSwitch') === 'dark'){
        document.getElementById('gitstats').src="https://github-readme-stats.vercel.app/api?username={{ item.github }}&show_icons=true&theme=default";
        document.getElementById('gitlang').src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ item.github }}&langs_count=3&theme=default";
        
   }else{
        document.getElementById('gitstats').src="https://github-readme-stats.vercel.app/api?username={{ item.github }}&show_icons=true&theme=tokyonight";
        document.getElementById('gitlang').src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ item.github }}&langs_count=3&theme=tokyonight";
   }
})
</script>
