
  <section class="section bg-light pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-info mt-4">
                    <img src="images/logo.png" alt="" height="22" />
                    <h5 class="f-18 mt-4 pt-1 line-height_1_6">
                        This section is reserved  <br />
                       for some brainstorming <br />
                        One Coming...
                    </h5>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mt-4">
                            <h5 class="f-18">Features</h5>
                            <ul class="list-unstyled footer-link mt-3">
                                <li><a href="#"> Home </a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">News & Events</a></li>
                                <li><a href="#">Company</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mt-4">
                            <h5 class="f-18">Policies</h5>
                            <ul class="list-unstyled footer-link mt-3">
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Condition</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mt-4">
                            <h5 class="f-18">Company</h5>
                            <ul class="list-unstyled footer-link mt-3">
                                <li><a href="#">Leadership</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Maps</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="mt-4 pl-0 pl-lg-4">
                    <h5 class="f-18">Follow Us</h5>
                    <ul class="list-inline social-icons-list pt-3">
                        <li class="list-inline-item">
                            <a href="#"><i class="mdi mdi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="mdi mdi-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="mdi mdi-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="mdi mdi-google-plus"></i></a>
                        </li>
                    </ul>

                    <h5 class="f-18">Follow Us</h5>

                    <div class="mt-4">
                        <a href="#" class="pr-3">
                            <img src="assets/img/logo.jpg" height="30" alt="" />
                        </a>
                        <a href="#">
                            <img src="assets/img/logo.jpg" height="30" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-5" />

        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p class="text-muted mb-0">2021 © MLH</p>
                </div>
            </div>
        </div>
    </div>
</section>