
  <section class="section-footer pb-5 mb-0" style="bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-info mt-4">
             
                    <h5 class="f-18 mt-4 pt-1 line-height_1_6">
                        <a class="twitter-timeline" data-width="400" data-height="220" href="https://twitter.com/MLHacks?ref_src=twsrc%5Etfw">Tweets by MLHacks</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>        
                    
                        <!-- This section is reserved  <br />
                       for some brainstorming <br />
                        One Coming... -->
                    </h5>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mt-4">
                            <h5 class="f-18">Features</h5>
                            <ul class="list-unstyled footer-link mt-3">
                                <li><a href="#meet-the-pod-div">Meet the Pod </a></li>
                                <li><a href="#pod-stats-div">Pod stats</a></li>
                                <li><a href="#pod-leaderboard-div">Leaderboard</a></li>
                                <li><a href="#projects-div">Projects</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mt-4">
                            <h5 class="f-18">Policies</h5>
                            <ul class="list-unstyled footer-link mt-3">
                                <li><a href="https://policies.google.com/terms">Security</a></li>
                                <li><a href="https://policies.google.com/terms">Jobs</a></li>
                                <li><a href="https://policies.google.com/terms">Policy</a></li>
                                <li><a href="https://policies.google.com/terms">Condition</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mt-4">
                            <h5 class="f-18">Projects</h5>
                            <ul class="list-unstyled footer-link mt-3">
                                <li><a href="https://github.com/MLH-Fellowship/portfolio-template">Portfolio</a></li>
                                <li><a href="https://github.com/MLH-Fellowship/calendar-site">Calendar site</a></li>
                                <li><a href="https://github.com/MLH-Fellowship/event-bot">Event bot</a></li>
                                <li><a href="https://github.com/MLH-Fellowship/class-photo">Class photo</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="mt-4 pl-0 pl-lg-4">
                    <h5 class="f-18">Follow Us</h5>
                    <ul class="list-inline social-icons-list pt-3">
                        <li class="list-inline-item">
                            <a href="#"><i class="lni lni-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="lni lni-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="lni lni-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="lni lni-github"></i></a>
                        </li>
                    </ul>

                    <h5 class="f-18">Streaming at </h5>
                    <ul class="list-inline social-icons-list pt-3">
                        <li class="list-inline-item">
                            <a href="#"><i class="lni lni-youtube"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="lni lni-twitch"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr class="my-5" />

        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p class="text-muted mb-0">Made with ❤️ by Pod 4.1.0 </p>
                </div>
            </div>
        </div>
    </div>
</section>