<!-- Pod Stats -->
<div class="stats" >
  <!-- Repo Badge -->
  <a href="https://github.com/MLH-Fellowship/calendar-site">
    <img alt="Issues" src="https://github-readme-stats.vercel.app/api/pin/?username=MLH-Fellowship&repo=calendar-site" />
  </a>

  <p align="center">
    <!-- Repo Size Badge -->
    <img class="badge-stats" src="https://img.shields.io/github/repo-size/MLH-Fellowship/calendar-site?style=for-the-badge"/>
    <!-- Contributors Badge -->
    <img class="badge-stats" alt="GitHub contributors" src="https://img.shields.io/github/contributors/MLH-Fellowship/calendar-site?style=for-the-badge">
    <!-- Last Commit Badge -->
    <img class="badge-stats" alt="GitHub last commit" src="https://img.shields.io/github/last-commit/MLH-Fellowship/calendar-site?style=for-the-badge">
    <br>
    <!-- Issues Badge -->
    <a href="https://github.com/MLH-Fellowship/calendar-site/issues">
      <img alt="Issues" src="https://img.shields.io/github/issues/MLH-Fellowship/calendar-site?style=for-the-badge" />
    </a>
    <!-- PR Badge -->
    <a href="https://github.com/MLH-Fellowship/calendar-site/pulls">
      <img alt="GitHub pull requests" src="https://img.shields.io/github/issues-pr/MLH-Fellowship/calendar-site?style=for-the-badge" />
    </a>
    <!-- Fork Badge -->
    <a href="https://github.com/MLH-Fellowship/calendar-site/pulls">
        <img alt="GitHub pull requests" src="https://img.shields.io/github/forks/MLH-Fellowship/calendar-site?style=for-the-badge" />
      </a>
  </p>
</div>
