 <!-- ========================= feature-section start ========================= -->
 <!-- <section id="features" class="feature-section"> -->
    <!-- <div class="container"> -->
      <!-- <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-11">
          <div class="section-title text-center mb-60"> -->
            <h2 class="project-headings">
              Features of the project
            </h2>
            <br><br>
          <!-- </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-feature">
            <div class="feature-icon color-1">
              <i class="lni lni-display"></i>
            </div>
            <div class="feature-content">
              <h4>Feature 1</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature">
            <div class="feature-icon color-3">
              <i class="lni lni-customer"></i>
            </div>
            <div class="feature-content">
              <h4>Feature 2</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature">
            <div class="feature-icon color-1">
              <i class="lni lni-users"></i>
            </div>
            <div class="feature-content">
              <h4>Feature 3</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature">
            <div class="feature-icon color-3">
              <i class="lni lni-google"></i>
            </div>
            <div class="feature-content">
              <h4>Feature 4</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature">
            <div class="feature-icon color-1">
              <i class="lni lni-bubble"></i>
            </div>
            <div class="feature-content">
              <h4>Feature 5</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-feature">
            <div class="feature-icon color-3">
              <i class="lni lni-calendar"></i>
            </div>
            <div class="feature-content">
              <h4>Feature 6</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-lg-4 col-md-6"
          style="display: block; margin-left: auto; margin-right: auto"
        >
        </div>
      </div>
    <!-- </div> -->
  <!-- </section> -->
  <!-- ========================= feature-section end ========================= -->

  <h2 class="project-headings">
    Github Stats
  </h2>
