@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'description';
@import 'navbar';
@import 'profile';
@import 'page';
@import 'dark-mode';

@import 'map';
@import 'cursor';

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

body {
  background-color: #f5f5f9;
  margin-bottom: 50px;
  z-index: -1;
}
h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 30px;
  background-color: white;
  border-radius: 0.375rem;
  padding: 1.5em;
  font-size: 1.2em;
}

a {
  color: black;
}

.info {
  p {
    margin-top: 5px;
    margin: 0px;
    text-align: left;
  }

  .title {
    font-size: 500;
    font-weight: bold;
  }

  .location,
  .description,
  .author {
    font-size: medium;
    font-weight: 400;
  }

  .dates {
    font-size: small;
    color: #404040;
  }
}

.icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding: 10px;

  img {
    width: 100%;
  }
}

// Pod Stats
.stats {
  text-align: center;

  .badge-stats {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


// Leaderboard
table {
  justify-items: center;
  margin: auto;
  width: 65%;
  border-right-color: #ffffff;
  font-size: 18px;
  /* /* border: 1px solid #343a40; */
  border-collapse: collapse; 
}

th, td {
  /* border: 1px solid #343a40; */
  padding: 16px 24px;
  text-align: center;
}

th {
  background-color: #1d539f;
  color: #fff;
  width: 25%;
}

tbody {
  tr:nth-child(odd){
    background-color: #f8f9fa;
  }
}

tbody {
  tr:nth-child(even){
    background-color: #e9ecef;
  }
}