 .cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #2e4e7c;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 200ms ease-out;
  }
  
  .cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    opacity: .5;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
  }
  
  .cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5;
  }
  .hover {
    background: linear-gradient(to top,#443732, #771831);
    opacity: 0.4;
  }
  
  .cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5;
  }