[data-theme="dark"] {
  background-color: #1c1c27 !important;

  .initiallogo {
    background-color: #28293d !important;
  }
  .finallogo {
    background-color: #1c1c27 !important;
  }
}

[data-theme="dark"] {
  header,
  .banner {
    background-color: #28293d !important;
  }
  .profile {
    background: url("/assets/img/dark_back_olena.jpg");
    background-position: center;
    background-size: cover;
  }
  .background{
    background: url("/assets/img/dark_back_olena.jpg");
    background-position: center;
    background-size: cover;
  }
  h1,
  h2,
  .custom-control-label,
  .title {
    color: #cfcfd4 !important;
  }

  .card {
    background-color: #28293d !important;
  }

  .location {
    color: #818497 !important;
  }

  .dates,
  p {
    color: #818497 !important;
  }

  .fellow-card .data h2,
  .fellow-card .data p {
    color: #000000 !important ;
  }
}
