[data-theme="dark"] {
    background-color: #1C1C27 !important;

    .initiallogo {
      background-color: #28293D !important;
    }
    .finallogo {
      background-color: #1C1C27 !important;
    }
  }

  [data-theme="dark"] {
    header, .profile, .banner {
      background-color: #28293D !important;
    }

    h1, h2, .custom-control-label, .title {
      color: #CFCFD4 !important;
    }

    .card {
      background-color: #28293D !important;
    }

    .location {
      color: #818497 !important;
    }

    .dates, p {
      color: #818497 !important;
    }

    .fellow-card .data h2,   .fellow-card .data p{
      color: #000000 !important ;
    }

    .leaderboard {
      tr{
        background-color: #28293D !important;
        color: #b6b9cc
      }

      th{
        background-color: #133667
      }
    }


  }