.fellow-card {
    overflow: hidden;
    position: relative;
    margin: 0 0.5% 1% 0;
    display: inline-block
  }
  .fellow-card:nth-of-type(3n) {
    margin-right: 0;
  }
  .fellow-card img {
    width: 100%;
    min-height: 100%;
    transition: all 0.9s
  }
  .fellow-card:hover img {
    transform: scale(1.2, 1.2)
  }
  .data {
    position: absolute;
    bottom: 5%;
    background: #fff;
    text-align: center;
    width: 90%;
    height: 80px;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 5%;
    box-sizing: border-box;
    opacity: 0.8;
    transition: all 0.4s
  }
  .fellow-card:hover .data {
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0.9;
    padding: 90px 10%
  }
  .data h2 {
    margin: 0 0 5px 0;
    transition: color 0.4s
  }
  .data p {
    text-align: center;
    transition: all 0.2s
  }
  .fellow-card:hover .data p,
  .fellow-card:hover .data a {
    opacity: 1
  }
  .data a {
    color: #333;
    text-decoration: none;
    padding: 20px;
    opacity: 0
  }
  .data a:hover,
  .fellow-card:hover h2 {
    color: #38c
  }
  
  @media (max-width:799px) {
    .fellow-card {
        width: 100%;
        margin-right: 0
    }
  }
  @media (max-width:500px) {
    .fellow {
        width: 100%;
        margin-right: 0;
        margin-left: 0
    }
  }