.nav-bar {
  width: 100%;
  background-color: #24aa1f;
  font-family: 'Poppins', serif;
  font-weight: 700 !important;
}

.nav-content {
  position: fixed;
  z-index: 1;
}
.nav-content .nav-logo {
  height: 60px;
  margin: 5px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 200px;
}

// .nav-content nav {
//   display: block;
//   width: 100%;
//   text-align: right;
//   padding-top: 0px;
//   padding-right: 0px;
// }

.initiallogo {
  width: 100%;
  background-color: #133667;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s ease;
}

.button {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: white;
}

.finallogo {
  width: 100%;
  background-color: #1d539f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s ease;
}
