header{
  display: flex !important;
}
.nav-bar {
  width: 100%;
  font-family: 'Poppins', serif;
  font-weight: 700 !important;
}

.nav-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
}
.nav-content .nav-logo {
  height: 60px;
  margin: 5px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 200px;
}

.initiallogo {
  background-color: #133667;
  justify-content: space-around;
}

.button {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: white;
}

.finallogo {
  background-color: #1d539f;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
}

.custom-control-label {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.custom-switch.custom-switch-lg {
  padding-bottom: 0.5rem;
	padding-left: 2.25rem;

  & .custom-control-label {
    padding-left: .75rem;
    padding-top: 0.15rem;

    &::before {
      border-radius: 1rem;
      height: 1.5rem;
      width: 2.5rem;
    }

    &::after {
			border-radius: .65rem;
      height: calc(1.5rem - 4px);
      width: calc(1.5rem - 4px);
    }
  }
	
	.custom-control-input:checked ~ .custom-control-label::after{
  transform: translateX(1rem);
	}
}

@media (min-width: 550px) and (max-width: 820px) {
  .nav-logo img {
    width: 150px;
  }

  .nav-bar {
    font-size: 15px;
  }
}

@media (min-width: 300px) and (max-width: 549px) {
  .nav-logo img {
    width: 100px;
  }

  .nav-bar {
    font-size: 13px;
  }
}
