.background{
  width:100%;
  background: url('/assets/img/devyansh.jpg');
  background-position: center;
  background-size: cover;
}
.profile{
  width:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  // background-color: hsl(0, 0%, 0%);
  text-align: left;
  font-size: large;
}
.p-text{
  margin-top: 100px;
  font-size: x-large;
  font-weight: 900;

}

.profile-picture{
  margin-left:-120px;
  margin-bottom: +50px;

  width: 500px;
  height:400px;
}