.profile {
  background-color: #133667 !important;
  text-align: center;
  height: 400px;
  margin-bottom: 50px;
  //   margin-top: 70px;
  padding-top: 70px;
  h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
  }

  img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    padding: 20px;
  }

  .profile-picture {
    margin-bottom: 30px;
    height: 200px;
  }
}
