$assetPath_small: "/assets/img/header_back_light_small.jpg";
$assetPath_large: "/assets/img/header_back_light_large.jpg";

.background {
  width: 100%;
  background: url($assetPath_large);
  background-size: cover;
  min-width: fit-content;
}
.profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: large;
}
.p-text {
  margin-top: 250px;
  margin-left: -30px;
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  color: whitesmoke;
}

.profile-picture {
  width: 50px;
  height: 300px;
}

.profile-picture img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: inline;
  padding: 30px;
}

@media (min-width: 375px) and (max-width: 400px), (min-width: 3600px) {
  .background {
    background-image: url($assetPath_small);
  }
}

@media (max-width: 360px) {
  .p-text {
    font-size: medium;
  }
}
