---
layout: default
---

<div class="banner">
    <div class="container" data-aos="fade-down" data-aos-duration="500">
        <div class="logo">
            <a href="/">
                <!-- replaced the mlh fellowship logo with the new mlh prep logo -->
                <img src="/assets/img/prep_logo.svg"/>
            </a>
        </div>
        <div class="title">
            {{ page.title }}
        </div>
    </div>
</div>

<div class="container page" data-aos="fade-up" data-aos-duration="500">
    {{ content }}
</div>